$basic-green: #68B738;

@mixin button-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    size: 14px;
    line-height: 14px;
}

.button--reset {

    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}


.button {
    align-items: center;
    height: 40px;
    min-width: 100%;
    padding: 12px 44px 8px 44px;
    background-color: $basic-green;
    @include button-text();
    text-decoration: none;
    color: white;
    display: block;
    box-sizing: border-box;
    text-align: center;
    
    

}

