$tablet-width: 768px;
$desktop-width: 1440px;

.main-nav {
    position: relative;
}

.main-nav__menu {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 2;

@media (min-width: $desktop-width) {
    background-color: transparent;
    color: white;
}

}
