.page-header {
    display: flex;
    width: 320px;
    min-height: 55px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
     
}

.page-header__logo {
    margin: 0;
    height: 38px;
}

.page-header__logo--text {
    display: flex;
    align-items: center;
}

.page-header__toggle {
    display: flex;
    align-items: center;
    width: 24px;
    height: 37px;
    margin-top: 8px;
}


.page-header__toggle--closed {
    background-image: url("../img/toggler-mobile.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 18px;

}
