$basic-green: #68B738;

@mixin background-image-promo {
    background-blend-mode: multiply;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/../img/index-background.png");
    background-position: top;
    background-repeat: no-repeat;
    
}


.promo {
    display: flex;
    @include background-image-promo();
}

.promo__title {
    display: block;
    font-size: 36px;
    line-height: 36px;
}