$basic-green: #68B738;
$tablet-width: 768px;
$desktop-width: 1440px;

@mixin background-image-promo {
    background-image: url("/../img/background-cat.png");
    background-position: top;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
        background-image: none;
    }

    @media (min-width: $desktop-width) {

    background-image: url("/../img/background-cat-desktop.png");
    background-position: right;
    background-repeat: no-repeat;
    margin-top: -190px;
    }
    
}


.promo {
    display: flex;
    flex-direction: column;
    color: white;
    @include background-image-promo();
    position: relative;
    
    @media (min-width: $tablet-width) {
        background-color: white;
        color: black;
        height: 830px;
    }
}


.promo__image {
    position: relative;
}

// @media (max-width: $tablet-width) {

//     .promo__front-image--tablet {
//     display: none;
//     }

//     .promo__front-image--desktop {
//         display: none;
//         }
// }

@media (min-width: $tablet-width) and (max-width: $desktop-width) {

    .promo__front-image {
    position: absolute;
    width: 708px;
    height: 609px;
    bottom: 0;
    z-index: 1;
    }
 
    .promo__front-image--desktop {
        display: none;
        }

    .promo__front-image--mobile {
            display: none;
            }    
}


@media (min-width: $desktop-width) {

    .promo__front-image {
    position: absolute;
    bottom: 150px;
    left: 38%;
    z-index: 1;
    width: 552px;
    height: 449px;

    }
 
    // .promo__front-image--tablet {
    //     display: none;
    //     }

    // .promo__front-image--mobile {
    //         display: none;
    //         }    
}




.promo__title {
    display: block;
    font-size: 36px;
    line-height: 36px;
    z-index: 2;
    text-align: center;

    @media (min-width: $tablet-width) {
        text-align: start;
        font-size: 60px;
        line-height: 60px;
        max-width: 414px;
    }

    @media (min-width: $desktop-width) {
    margin-top: 223px;

    }

}

.promo__description {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    z-index: 2;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
        text-align: start;
        font-size: 20px;
        line-height: 20px;
    }    

    @media (min-width: $tablet-width) {
        margin-bottom: 52px;
    }
}

.promo__button {
    position: relative;
    z-index: 2;
}

@media (min-width: $tablet-width) {
.promo__button {
    width: 244px;
    height: 54px;
    z-index: 2;
    font-size: 20px;
}
}

@media (min-width: $desktop-width) {
    .promo-container {
        padding-left: 150px;
    }
    
}