@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/oswaldregular.woff2") format("woff2"), url("/../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/../fonts/oswaldregular.woff2") format("woff2"), url("/../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 60px;
    line-height: 60px;
  }
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .description {
    font-size: 16px;
    line-height: 24px;
  }
}

.section-strong-text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 14px;
}

.inner-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .inner-title {
    font-size: 20px;
    line-height: 30px;
  }
}

.button--reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.button {
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 160px;
  background-color: #68B738;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: flex;
  box-sizing: border-box;
  text-align: center;
}

.cat-scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.cat-scroll__bar {
  position: relative;
  display: flex;
  background-color: white;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #CDCDCD;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 768px) {
  .cat-scroll__bar {
    width: 426px;
    height: 6px;
    border-radius: 6px;
    border: none;
    background-color: #DCDCDC;
  }
}

.cat-scroll__value {
  display: block;
  background-color: #68B738;
  border-radius: 6px;
  width: 50%;
  height: 6px;
}
@media (min-width: 768px) {
  .cat-scroll__value {
    position: absolute;
    left: 170px;
    width: 8px;
    height: 8px;
    background: #68B738;
    border-radius: 50%;
    border: 14px solid white;
    outline: 1px solid #CDCDCD;
    cursor: pointer;
  }
}

.example {
  position: relative;
  background-color: #EAEAEA;
  padding-top: 25px;
  padding-bottom: 40px;
  z-index: 2;
}
@media (min-width: 768px) {
  .example {
    background-color: white;
    border-top: 1px solid #EAEAEA;
    padding-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .example {
    border-top: none;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: 1440px) {
  .example__content {
    height: 640px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .example::after {
    content: url("");
    position: absolute;
    height: 462px;
    width: 100%;
    bottom: 0px;
    background-color: #e4e4e4;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .example::after {
    content: url("");
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #eaeaea;
    z-index: -1;
  }
}
h2, .example__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  h2, .example__title {
    margin-top: 25px;
  }
}

.example__subtitle {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .example__subtitle {
    text-align: right;
    width: 180px;
    margin-bottom: 0;
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .example__subtitle {
    text-align: left;
    margin-bottom: 0;
  }
}

.example__description {
  margin: 0;
}
@media (min-width: 768px) {
  .example__description {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    max-width: 436px;
    margin-top: 146px;
    margin-bottom: 69px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .example__info {
    display: grid;
    grid-template-columns: 350px 200px;
    justify-content: space-between;
  }
}

.example__facts {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 20px 0;
}
@media (min-width: 1440px) {
  .example__facts {
    max-width: 436px;
    margin-top: 0px;
    margin-bottom: 55px;
  }
}

.example__image-block {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .example__image-block {
    min-height: 480px;
  }
}
@media (min-width: 1440px) {
  .example__image-block {
    max-height: 511px;
    margin: 0;
    margin-bottom: 25px;
  }
}

.example__scroll {
  margin-top: 15px;
}
@media (max-width: 768px) {
  .example__image-slim--tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .example__image-fat, .example__image-slim {
    display: none;
  }
}

.facts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.facts__number {
  box-sizing: border-box;
  text-align: center;
  padding-top: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  min-width: 100%;
  min-height: 64px;
  border: 1px solid #C4C4C4;
}
@media (min-width: 768px) {
  .facts__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.facts__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  text-align: center;
  margin: 0;
  margin-top: -18px;
  background-color: #EAEAEA;
}
@media (min-width: 768px) {
  .facts__description {
    display: block;
    padding: 5px;
    background-color: white;
    width: auto;
    font-size: 14px;
    line-height: 14px;
    margin-top: -13px;
  }
}
@media (min-width: 1440px) {
  .facts__description {
    background-color: #EAEAEA;
  }
}

.features {
  padding-top: 20px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .features {
    padding-top: 45px;
  }
}

.features__title {
  line-height: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .features__title {
    padding-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .features__title {
    padding-top: 70px;
  }
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .features-list {
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .features-list {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: space-between;
  }
}

.features__item {
  margin-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}
@media (min-width: 768px) {
  .features__item {
    min-height: 280px;
    padding-top: 120px;
    padding-left: 0;
    font-size: 16px;
  }
}

.features__item--1 {
  background-image: url("/../img/feature-item-1.png");
  position: left bottom;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__item--1 {
    background-image: url("/../img/feature-item-1-tablet.png");
  }
}

.features__item--2 {
  background-image: url("/../img/feature-item-2.png");
  position: left bottom;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__item--2 {
    background-image: url("/../img/feature-item-2-tablet.png");
  }
}

.features__item--3 {
  background-image: url("/../img/feature-item-3.png");
  position: left bottom;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__item--3 {
    background-image: url("/../img/feature-item-3-tablet.png");
  }
}

.features__item--4 {
  background-image: url("/../img/feature-item-4.png");
  position: left bottom;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .features__item--4 {
    background-image: url("/../img/feature-item-4-tablet.png");
  }
}

@media (min-width: 768px) {
  .features__item--1::after {
    content: url("/../img/1.png");
    position: absolute;
    top: 0;
    right: 40px;
    z-index: -1;
  }

  .features__item--2::after {
    content: url("/../img/2.png");
    position: absolute;
    top: 0;
    right: 5px;
    z-index: -1;
  }

  .features__item--3::after {
    content: url("/../img/3.png");
    position: absolute;
    top: 0;
    right: 5px;
    z-index: -1;
  }

  .features__item--4::after {
    content: url("/../img/4.png");
    position: absolute;
    top: 0;
    right: 5px;
    z-index: -1;
  }
}
.logo__cat {
  margin: 0 auto 0 0;
}

.logo__text {
  margin: 0 auto;
}

.main-nav {
  position: relative;
}

.main-nav__menu {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 2;
}
@media (min-width: 1440px) {
  .main-nav__menu {
    background-color: transparent;
    color: white;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #E6E6E6;
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    border: none;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
  }
}

.menu__item {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid #E6E6E6;
}
@media (min-width: 768px) {
  .menu__item {
    border: 0;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 18px;
    line-height: 18px;
  }
}

.menu__item {
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .menu__link--current {
    border-bottom: 2px solid #68B738;
    padding-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .menu__link--current {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 110px;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__logo {
    text-align: left;
    border-bottom: none;
  }
}

.page-footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  padding: 20px;
}
@media (min-width: 768px) {
  .page-footer__socials {
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 90px;
    min-height: 120px;
    align-content: center;
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    grid-template-columns: 210px 500px;
    justify-content: space-between;
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
    box-sizing: border-box;
  }
}

.page-header__logo-block {
  display: flex;
  min-height: 55px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .page-header__logo-block {
    display: flex;
    max-width: 174px;
    justify-content: flex-start;
    gap: 12px;
    padding: 0;
    z-index: 5;
  }
}

.page-header__logo {
  margin: 0;
  height: 38px;
}

.page-header__logo--text {
  display: flex;
  align-items: center;
}

.page-header__toggle {
  display: flex;
  align-items: center;
  width: 24px;
  height: 37px;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__toggle--closed {
  background-image: url("../img/toggler-mobile.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 18px;
}

.partnership {
  display: block;
  padding-top: 26px;
  position: relative;
}
@media (min-width: 1440px) {
  .partnership {
    padding-top: 0;
  }
}

.partnership__text-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-bottom: 26px;
  background-color: white;
}
@media (min-width: 768px) {
  .partnership__text-block {
    display: grid;
    grid-template-columns: 172px 165px;
    justify-content: space-between;
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .partnership__text-block {
    position: absolute;
    bottom: 107px;
    left: 110px;
    display: grid;
    grid-template-columns: 172px 165px;
    gap: 10px;
    padding: 56px 70px;
    z-index: 2;
    width: 565px;
    box-sizing: border-box;
  }
}

@media (min-width: 1440px) {
  .partnership__text-block.container {
    width: auto;
  }
}
h2, .partnership__title {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
@media (min-width: 768px) {
  h2, .partnership__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.partnership__address {
  display: block;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .partnership__address {
    text-align: right;
  }
}

.partnership__map {
  display: block;
  background-image: url("/../img/location.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 362px;
  width: 100%;
}
@media (min-width: 768px) {
  .partnership__map {
    background-image: url("/../img/Map-tablet.png");
    height: 400px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .partnership__map {
    background-image: url("/../img/Map-desktop.png");
    height: 400px;
    width: 100%;
  }
}

.programs {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  display: block;
  position: relative;
  box-sizing: border-box;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 30px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .programs__item {
    display: flex;
    flex-direction: column;
    padding: 77px 53px 53px;
  }
}

.programs__title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .programs__title {
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .programs__title {
    padding-left: 162px;
  }
}

.programs__title--slim::after {
  content: url("/../img/cat_back.png");
  position: absolute;
  left: 20px;
  top: 25px;
}
@media (min-width: 768px) {
  .programs__title--slim::after {
    content: url("/../img/cat_back_slim_tablet.png");
    position: absolute;
    left: 450px;
    top: 92px;
  }
}
@media (min-width: 1440px) {
  .programs__title--slim::after {
    content: url("/../img/cat_slim-desktop.png");
    position: absolute;
    left: 50px;
    top: 42px;
  }
}

.programs__title--pro::after {
  content: url("/../img/cat_back_pro.png");
  position: absolute;
  left: 10px;
  top: 25px;
}
@media (min-width: 768px) {
  .programs__title--pro::after {
    content: url("/../img/cat_back_pro_tablet.png");
    position: absolute;
    left: 410px;
    top: 92px;
  }
}
@media (min-width: 1440px) {
  .programs__title--pro::after {
    content: url("/../img/cat-pro-desktop.png");
    position: absolute;
    left: 32px;
    top: 42px;
  }
}

.programs__description {
  display: block;
  padding-bottom: 23px;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .programs__description {
    border-bottom: none;
    width: 340px;
    font-size: 16px;
    padding-bottom: 48px;
    padding-top: 24px;
  }
}
@media (min-width: 1440px) {
  .programs__description {
    width: auto;
    padding-bottom: 23px;
  }
}

.programs__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
@media (min-width: 768px) {
  .programs__link {
    font-size: 20px;
  }
}

.programs__link::after {
  content: url("/../img/icon_arrow.png");
  position: absolute;
  left: 110px;
  bottom: 16px;
}
@media (min-width: 768px) {
  .programs__link::after {
    left: 190px;
    bottom: 71px;
  }
}

h3, .programs__title {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.promo {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url("/../img/background-cat.png");
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .promo {
    background-image: none;
  }
}
@media (min-width: 1440px) {
  .promo {
    background-image: url("/../img/background-cat-desktop.png");
    background-position: right;
    background-repeat: no-repeat;
    margin-top: -190px;
  }
}
@media (min-width: 768px) {
  .promo {
    background-color: white;
    color: black;
    height: 830px;
  }
}

.promo__image {
  position: relative;
}

@media (max-width: 768px) {
  .promo__front-image--tablet {
    display: none;
  }

  .promo__front-image--desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .promo__front-image {
    position: absolute;
    width: 708px;
    height: 609px;
    bottom: 0;
    z-index: 1;
  }

  .promo__front-image--desktop {
    display: none;
  }

  .promo__front-image--mobile {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo__front-image {
    position: absolute;
    bottom: 150px;
    left: 38%;
    z-index: 1;
  }

  .promo__front-image--tablet {
    display: none;
  }

  .promo__front-image--mobile {
    display: none;
  }
}
.promo__title {
  display: block;
  font-size: 36px;
  line-height: 36px;
  z-index: 2;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    max-width: 414px;
  }
}
@media (min-width: 1440px) {
  .promo__title {
    margin-top: 223px;
  }
}

.promo__description {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  z-index: 2;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .promo__description {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .promo__description {
    margin-bottom: 52px;
  }
}

.promo__button {
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .promo__button {
    width: 244px;
    height: 54px;
    z-index: 2;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .promo-container {
    padding-left: 150px;
  }
}
.socails__link {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1220px;
    margin: 0 auto;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/./fonts/fonts/oswaldregular.woff2") format("woff2"), url("/./fonts/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/./fonts/fonts/oswaldregular.woff2") format("woff2"), url("/./fonts/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
html {
  background-color: #f4f4f4;
}

body {
  background-color: #FFF;
  min-width: 320px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */