@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: url("/../fonts/oswaldregular.woff2") format("woff2"),
    url("/../fonts/oswaldregular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: url("/../fonts/oswaldregular.woff2") format("woff2"),
    url("/../fonts/oswaldregular.woff") format("woff");
    font-display: swap;
}


@mixin main-font {
    font-family: 'Oswald', sans-serif;
}




.section-title {

    @include main-font();
    font-weight: 400;
    font-size: 36px;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:#444444;
}

.section-strong-text {
    @include main-font();
    font-weight: 400;
    size: 14px;
    line-height: 14px;
}

.inner-title {
    @include main-font();
    text-transform: uppercase;
    font-weight: 400;
    size: 14px;
    line-height: 20px;

}

