@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: url("/../fonts/oswaldregular.woff2") format("woff2"),
    url("/../fonts/oswaldregular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: url("/../fonts/oswaldregular.woff2") format("woff2"),
    url("/../fonts/oswaldregular.woff") format("woff");
    font-display: swap;
}


@mixin main-font {
    font-family: 'Oswald', sans-serif;
}


.section-title {

    @include main-font();
    font-weight: 400;
    
}

.section-strong-text {
    @include main-font();
    font-weight: 400;
    size: 14px;
    line-height: 14px;

}