// Начните писать стили здесь

@use "./blocks/additionals.scss";
@use "./blocks/button.scss";
@use "./blocks/card.scss";
@use "./blocks/cat-scroll.scss";
@use "./blocks/catalog.scss";
@use "./blocks/example.scss";
@use "./blocks/facts.scss";
@use "./blocks/features.scss";
@use "./blocks/form.scss";
@use "./blocks/logo.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/menu.scss";
@use "./blocks/page-footer.scss";
@use "./blocks/page-header.scss";
@use "./blocks/partnership.scss";
@use "./blocks/programs.scss";
@use "./blocks/promo.scss";
@use "./blocks/properties.scss";
@use "./blocks/show-more.scss";
@use "./blocks/socials.scss";
@use "./blocks/upsale.scss";
@use "./helpers/container.scss";
@use "./helpers/normilize.scss";
@use "./helpers/visually-hidden.scss";


html {
    background-color: #f4f4f4;
}

body { 
    background-color: #FFF; 
    width: 320px;
    margin: 0 auto;
}

