$tablet-width: 768px;

.logo__cat {
    margin: 0 auto 0 0;

}


.logo__cat:hover path,
.logo__text:hover path
{
 opacity: 80%;
}
    
.logo__cat:active path,
.logo__text:active path
{
 opacity: 60%;
}
    


.logo__text {
    margin: 0 auto;

}
