$tablet-width: 768px;
$desktop-width: 1440px;
$basic-green: #68B738;

@mixin menu-font {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #E6E6E6;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        border: none;
        flex-wrap: wrap;
        gap: 35px;
        align-items: center;
        
    }

}

.menu--hidden {
    display: none;
    @media (min-width: $tablet-width) {
    display: flex;
    }
}


.menu__item {
    @include menu-font();
    padding-top: 22px;
    padding-bottom: 22px;
    border-top: 1px solid #E6E6E6;

    @media (min-width: $tablet-width) {
        border: 0;
        padding-top: auto;
        padding-bottom: auto;
        font-size: 18px;
        line-height: 18px;
    }
    
}

.menu__item {
    padding-bottom: 10px;
}

.menu__link:hover {
    opacity: 30%;
}    

@media (min-width: $tablet-width) {

.menu__link:active {
    opacity: 100%;
    border-bottom: 2px solid $basic-green;
    padding-bottom: 10px;
}

}

@media (min-width: $desktop-width) {
    .menu__link:active {
        opacity: 100%;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }
    }

